/* lostItems.css */
.lostItems {
    /* Add any styles you want for the entire component here */
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }
  
  .card {
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 1000px;
   
    min-height: 200px;
    max-height: 300px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .card h3 {
    margin-top: 20px;
    font-size: x-large;
    font-weight: 900;
  }
  
  .card p {
    margin: 5px 0;
    max-width: 50%;
    
  }
  .card img {
    max-width: 400px; /* Limiting the maximum width */
    min-width: 350px; /* Ensuring a minimum width */
    max-height: 150px; /* Limiting the maximum height */
    min-height: 100px; /* Ensuring a minimum height */
    width: auto; /* Allowing the image to adjust its width */
    height: auto; /* Allowing the image to adjust its height */
    object-fit: contain; /* Keeps the image's aspect ratio without stretching */
    border-radius: 10px;
    margin: 5px 0 10px 10px 0; /* Adds spacing around the image (top, right, bottom, left) */
    float: right; /* Aligns the image to the right */
  }
  .card button:first-child {
    float: right;
    margin-top: 0px;
  }
  
  .card button {
    margin-top: 50px;
  }
  #updateBtn {
    margin-top: 50px;
  }
  @media screen and (max-width: 768px) {
    .cards-container {
      margin-top: 90px; /* Further adjust margin for smaller screens if needed */
    }
  
    .card {
      width: 90%; /* Adjust width for smaller screens */
      margin: 10px auto; /* Center the card on smaller screens */
      position: absolute;
    }
  
    .card h3 {
      font-size: medium; /* Adjust font size for smaller screens */
      font-weight: 600; /* Adjust font weight for smaller screens */
    }
  
    
    .card img {
      max-width: 350px;
      max-height: 140px;
      padding-right: 69px;
     
    }
  
   
    .btns{
      display: flex;
      flex-direction: column;
      float: right;
      

    }
    .btns button {
     position: relative;
     bottom: 170px;
     margin-top: 10px;
    }
  }
  
  